* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font colors */
.dark-magenta-text {
    color: hsl(300, 43%, 22%);
}

.intro-para {
    color: hsl(303, 10%, 53%);
}

.buyer-status {
    color: hsl(333, 80%, 67%);
}

.reviewer-name,
.review-para {
    color: hsl(0, 0%, 100%);
}
.container {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
}

.intro {
    text-align: center;
    margin-bottom: 50px;
}

.info p{
    margin: 30px 0;
}

.stars p {
    margin: 15px 0;
    padding: 20px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
}

.buyer {
    margin: 20px 0;
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    border-radius: 10px;
}

.profile {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
    align-items: center;
}

.profile img {
    width: 40px;
    border-radius: 50%;
}