* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "League Spartan";
    font-size: 15px;
    line-height: 1.5;
}

.title{
    margin: 0 auto;
    width: 200px;
    line-height: normal;
}

/* font colors */
.stars p,
.title {
    color: hsl(300, 43%, 22%);
}

.intro-para {
    color: hsl(303, 10%, 53%);
}

.buyer-status {
    color: hsl(333, 80%, 67%);
}

.reviewer-name,
.review-para {
    color: hsl(0, 0%, 100%);
}
.container {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
}

.intro {
    text-align: center;
    margin-bottom: 50px;
}

.info p{
    margin: 30px 0;
}

.star-img {
    width: 85px;
    height: 30px;
    margin: 0 auto;
    background-image: url("./images/icon-star.svg");
    background-position: center;
    background-repeat: repeat space;
}

.star-container {
    margin: 15px 0;
    padding: 5px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
}

.buyer {
    margin: 20px 0;
    background-color: hsl(300, 43%, 22%);
    padding: 30px;
    border-radius: 10px;
}

.profile {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.profile img {
    width: 40px;
    border-radius: 50%;
}

@media (width > 1000px) {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

    width: 1200px;
    /* margin: 0 auto; */
    padding: 40px;
}
    .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 50px;
}
.title{
    margin: 0 ;
    width: 200px;
    line-height: normal;
}
.info {
    width: 350px;
}
.star-container {
    display: flex;
    margin: 15px 0;
    padding: 5px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
}
    .reviews {
        display: flex;
        margin-top: 150px;
        gap: 40px;
    }

    .buyer {
        width: 400px;
        margin: 0 auto;
        background-color: hsl(300, 43%, 22%);
        padding: 30px;
        border-radius: 10px;
}
}