* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
}

.intro {
    text-align: center;
    margin-bottom: 50px;
}

.info p{
    margin: 30px 0;
}

.stars p {
    margin: 15px 0;
    padding: 20px;
    background-color: hsl(302, 25%, 79%);
    border-radius: 5px;
}